.navbar {
  display: flex;
  justify-content: space-between;
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.drawer.navLink {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.drawerList {
  width: 250px;
}

.avatar {
  border: 2px;
  border-radius: 50%;
  vertical-align: middle;
  border-style: solid;
  border-color: #fafafa;
}
